body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background: #292826;
}
.header-main{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    height: auto;
    width: 100%;
    background: #292826;
    box-shadow: 0 4px 4px #c5800097;
    z-index: 100;
}
.information, .search { margin-top: 20px;}
.navigation{ margin-left: 20px; margin-bottom: 10px;}

a{
    display: flex;
    float: right;
    margin-right: 30px;
    text-decoration: none;
    color: #E0DFDC;
}
.library{
    display: flex;
    float: right;
    margin-right: 20px;
    padding: 3px 30px;
    color:  #e19609;
    border-radius: 14px;
    border: 1px solid  #e19609;
    background: #292826;
}
.library:hover{background: #DFB971;color: #543402;}
/* #ch:checked{background: #DFB971;color: #543402;} */

.book-search{
    width:85%;
    margin: 0 20px;
    background: #292826;
    border-radius: 40px;
    border: 1px solid  #e19609;
    padding-left: 10px;
    color: #e19609;
}
.search-btn{
    background: #DFB971;
    color: #543402;
    padding: 10px 30px;
    border-radius: 50px;
}
/* .search-btn:checked{background: #543402; color:#DFB971;} */
.all, .classic, .fantasy{
    background: #DFB971;
    color: #543402;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: 200px 60px;
}
.book1{
    width: 240px;
    height: 370px;
    margin: 50px 50px;
    border-radius: 10px;
    border: 1px solid #C58000;
    box-shadow: 4px 4px 4px #e195099b;
}
.book{width: 240px; height: 290px; border-radius: 10px;}
/* .description{margin-top:110} */
.name, .author{
    color: #E0DFDC;
    margin: 0 10px;
    font-size:smaller;
}

.genre-rating{display: flex; flex-direction: row; background: #00c50397;}
.genre{
    color:#cca867;
    background: #292826;
    border: 1px solid #B79557;
    border-radius: 8px;
    padding: 1px 5px;
    margin-left: 10px;
    font-size: smaller;
}
.rating{
    display: flex;
    float: right; /* ПОЧЕМУ НЕ РАБОТАЕТ!!??!?? */
    /* margin-left: 110px; */
    color: #C58000; 
}
/*чтоб отправить изменение ты просто берешь и ну и отправляешь его*/
/* Страница книги */
header{
    height: 50px;
    /* box-shadow: 0 2px 2px #c5800097; */
}
.back{
    display: flex;
    float: left;
    margin-left: 20px;
    background: #292826;
    color: #E0DFDC;
}
.main-div{
    display: grid;
    grid-template-areas: 
    "one two";
    grid-template-columns: 500px 1fr;
}
.img-buttons{
    display: flex;
    flex-direction: column;
    grid-area: one;
}
.all-about-book{grid-area: two;}

.img-on-page{
    margin: 30px 50px;
    width: 400px;
    height: 500px;
    border: 2px solid #C58000;
    border-radius: 4px;
}
.Add{
    font-size: large;
    height: 40px;
    width: 360px;
    margin: 20px 70px;
    border-radius: 12px;
    background: #DEB461;
    color: #292826;
}
.all-about-book{
    margin-top: 30px;
    display: grid;
    grid-template-areas: 
    "a b"
    "c c"
    "d d";
}
.book-information{
    grid-area: a;
    box-shadow: -2px -2px  #c5800097;
    width: 450px;
    height: 150px;
}
.name-inf{
    font-size:larger;
    margin: 2px 7px;
    color:#DEB461;
}
.author-inf{
    font-size: medium;
    margin: 2px 7px;
    color: #B79557;
}
.publish-house, .pages-number{
    font-size: medium;
    margin: 0 7px;
    color: #e0dfdcdd;
}
.genre-inf{
    margin: 5px 7px;
    color:#cca867;
    background: #292826;
    border: 1px solid #B79557;
    border-radius: 8px;
    padding: 1px 5px;
}
.your-rating{/*display:flex; float: right;*/ color: #B79557;}
.in-collections{
    grid-area: b;
    margin-left: 40px;
    color: #e0dfdcdd;
    box-shadow: 2px 2px  #c5800097;
    width: 400px;
    height: 150px;
}
.description{
    grid-area: c;
    color: #c2bfb7;
    height: 300px;
    width: 92%;
}
.review{
    grid-area: d;
    color:#e0dfdcdd;
}
.input-review{
    height: 50px;
    width: 92%;
    padding-left: 10px;
    color:#C58000;
    background: #292826;
    border: 1px solid #C58000;
    border-radius: 2px;
}
